@import 'globalAnimations.css';
@import 'globalColors.css';
@import 'globalEffects.css';

:root {
  font-size: 20px;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

.App > div {
  min-height: 100%;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.primary-header a {
  margin-right: 1rem;
}

.primary-header i {
  font-size: 2rem;
}
