@import 'globalAnimations.css';
@import 'globalColors.css';
@import 'globalEffects.css';
@import 'global.css';

html,
body,
#root,
.App {
  height: 100%;
}

.App > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.primary-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(0.5) blur(5px);
  /* 
    For some reason, this is needed to stop checkboxes from rendering
    above this element.
  */
  z-index: 1;
}

.primary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 15rem;
  height: 100vh;
  background-color: white;
  border-right: 1px solid black;
}

.primary-nav a {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
  text-decoration: none;
  font-weight: 600;
}

.primary-nav a:visited {
  color: black;
}

.primary-header i {
  font-size: 2rem;
}

.hamburger-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  background-color: black;
  content: '';
  display: block;
  width: 1rem;
  height: 4px;
}

.hamburger-menu::before {
  transform: translateY(-10px);
}

.hamburger-menu::after {
  transform: translateY(6px);
}

.landing-page main {
  margin: auto 0;
  text-align: center;
}

.landing-page h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: clamp(2rem, 1rem + 6vw, 6rem);
}

.landing-page h1 > span {
  color: green;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.landing-page button {
  font-size: clamp(0.1rem, 0.5rem + 1vw, 2rem);
  min-width: calc(10em + 1vw);
  padding: 10px 0;
  margin: 0 10px;
}

.about-page main {
  display: flex;
  flex-direction: column;
}

.about-page p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: justify;
  font-size: clamp(0.7rem, 0.5rem + 1vw, 2rem);
}

.about-page p span {
  background-color: green;
}

.about-page > div {
  width: 100%;
  margin: auto 0;
  padding-bottom: 5rem;
}

.about-page > div div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.about-page div i {
  font-size: 2.5rem;
  color: green;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.25, 2, 0.75, 0.7);
}

.about-page div i:hover {
  transform: scale(1.5);
}

.about-page div i:nth-child(1) {
  grid-column: 1 1;
}

.about-page div i:nth-child(2) {
  grid-column: 2 2;
}

.quiz-input-label {
  margin-bottom: 10px;
}

.quiz-creation-page {
  height: 100%;
}

.quiz-creation-page main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quiz-creation-page form {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 60%;
  max-width: 400px;
}

.quiz-creation-page form label {
  font-size: clamp(1rem, 2.2rem + 1vw, 5em);
}

.quiz-creation-page label[for='make-public-checkbox'] {
  font-size: 1rem;
  margin-top: 20px;
}

.quiz-creation-page input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 1rem;
}

.quiz-creation-page input[id='quiz-name-input'] {
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
}

.quiz-creation-page textarea {
  height: 100px;
}

.quiz-creation-page button {
  height: 40px;
  margin-top: 3rem;
}

@media screen and (min-width: 600px) {
  .landing-page h1 {
    margin-bottom: 100px;
  }

  .landing-page button {
    min-width: calc(14em + 1vw);
  }

  .hamburger-menu-container {
    display: none;
  }

  .primary-nav-container {
    display: block;
    backdrop-filter: none;
    position: static;
    width: unset;
    height: unset;
  }

  .primary-nav {
    display: unset;
    position: static;
    background-color: transparent;
    height: unset;
    border-right: none;
  }

  .primary-nav a {
    border-bottom: none;
    margin-right: 20px;
  }

  .primary-nav::after {
    display: none;
  }

  .quiz-creation-page button {
    margin-left: auto;
    margin-right: auto;
    width: calc(1rem + 40vw);
    max-width: 200px;
  }
}
